<div class="post">
    <div class="header">
        <h1>
            post title
        </h1>
        <button routerLink="/" class="btn btn-link">Main</button>
    </div>

    <div class="info">
        <strong>
            Author
        </strong>

        <small>12.5.656</small>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consectetur blanditiis omnis perferendis totam reiciendis, in voluptatum possimus vitae corporis quisquam magni quae maxime saepe, repellat amet ea esse ducimus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consectetur blanditiis omnis perferendis totam reiciendis, in voluptatum possimus vitae corporis quisquam magni quae maxime saepe, repellat amet ea esse ducimus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consectetur blanditiis omnis perferendis totam reiciendis, in voluptatum possimus vitae corporis quisquam magni quae maxime saepe, repellat amet ea esse ducimus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consectetur blanditiis omnis perferendis totam reiciendis, in voluptatum possimus vitae corporis quisquam magni quae maxime saepe, repellat amet ea esse ducimus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus consectetur blanditiis omnis perferendis totam reiciendis, in voluptatum possimus vitae corporis quisquam magni quae maxime saepe, repellat amet ea esse ducimus.</p>
        </div>
    </div></div>