<form class="card" [formGroup]="form" (ngSubmit)="submit()">
   <h2>Enter in admin panel</h2> 

   <div class="alert alert-danger" *ngIf="auth.error$ | async as error">
       {{error}}
   </div>

   <div class="alert alert-info" *ngIf="message">
        {{message}}
    </div> 

   <div 
    [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
    class="form-control">
    <label for="email">Email:</label> 
    <input id="email" type="email" formControlName="email">

    <div 
        *ngIf="form.get('email').touched && form.get('email').invalid"
        class="validation">
        <small *ngIf="form.get('email').errors.required">Field Email Enter</small>
        <small *ngIf="form.get('email').errors.email">Field Email Enter must be correct email</small>
    </div>
   </div>

   <div 
    [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class="form-control">
    <label for="password">Password:</label> 
    <input id="password" type="password" formControlName="password">

    <div 
        *ngIf="form.get('password').touched && form.get('password').invalid"
        class="validation">
        <small *ngIf="form.get('password').errors.required">Field password Enter</small>
        <small *ngIf="form.get('password').errors.minlength">Password too short, please enter 
            {{form.get('password').errors.minlength.requiredLength}} 
            symbols or more. Now it has 
            {{form.get('password').errors.minlength.actualLength}} symbol/s
        </small>

    </div>
   </div>

   <button 
        type="submit" 
        class="btn btn-primary"
        [disabled]="form.invalid || submitted"
        >Enter</button>
</form>

